build
test/**/*.textest
test/**/*.pdf
.sconsign.dblite
.vscode
/*.pdf
venv

main.app
main.aux
main.bbl
main.bbl-SAVE-ERROR
main.bcf
main.bcf-SAVE-ERROR
main.blg
main.fdb_latexmk
main.fls
main.lol
main.lof
main.log
main.lot
main.out
main.run.xml
main.synctex.gz
main.toc

slides.app
slides.aux
slides.bbl
slides.bbl-SAVE-ERROR
slides.bcf
slides.blg
slides.fdb_latexmk
slides.fls
slides.log
slides.nav
slides.out
slides.run.xml
slides.pdf
slides.snm
slides.synctex.gz
slides.toc

slides_obrona.app
slides_obrona.aux
slides_obrona.bbl
slides_obrona.bbl-SAVE-ERROR
slides_obrona.bcf
slides_obrona.blg
slides_obrona.fdb_latexmk
slides_obrona.fls
slides_obrona.log
slides_obrona.nav
slides_obrona.out
slides_obrona.run.xml
slides_obrona.pdf
slides_obrona.snm
slides_obrona.synctex.gz
slides_obrona.toc

**/.DS_Store
.idea
_minted
.superpowers/
