build
test/**/*.textest
test/**/*.pdf
.sconsign.dblite
.vscode
/*.pdf
venv

main.app
main.aux
main.bbl
main.bbl-SAVE-ERROR
main.bcf
main.bcf-SAVE-ERROR
main.blg
main.fdb_latexmk
main.fls
main.lol
main.lof
main.log
main.lot
main.out
main.run.xml
main.synctex.gz
main.toc

slides.app
slides.aux
slides.bcf
slides.blg
slides.fdb_latexmk
slides.fls
slides.log
slides.nav
slides.out
slides.pdf
slides.snm
slides.synctex.gz
slides.toc

**/.DS_Store
.idea
_minted
